body{
   background: linear-gradient(
      to right,pink,rgb(161, 191, 161),rgb(108, 108, 128))
     
}
.h{
   color: brown;
   font-weight: bold;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h2{
   color: blue;
   font-weight: 900;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 0;
   
}
.h3{
   font-size:900px;
   color: rgb(165, 71, 42);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   margin-top: 20px;
   
}
p-1{
   text-align: justify;
   font-size: 30px;
}